samples_to_find.txt
scripts/__pycache__/
scripts/get_fastq.py
scripts/BN_metadata.py
scripts/qc_data_set.py
fastqs/
fastas/
fastas_chr/
data/
mrsa_plasmid_analysis.egg-info/
mge_bootstrap/
mashtree/
results/